@media screen and (min-width: 375px){
.bg{
    background: no-repeat url("images/boise.jpg");
    min-height: 65vh;
    background-size: cover;
    background-position-x: 46.8%;
    
}
.logo{
    margin-top: 9px;
}
.sub-text{
    position: absolute;
    top: 38%;
    left: 15%;
    color: white;
 }
}




  @media screen and (min-width: 376px){
.bg{
    background: no-repeat url("images/boise.jpg");
    min-height: 90vh;
    background-size: cover;
    background-position-x: 44%;
    background-position-y: 5%;
}

 .title-text{
     color: #bba846;
     font-family:'Bruno Ace SC';
     position: absolute;
    top: 7%;
 }
 .t-text{
    font-size: 100px;
 }
.logo{
    margin-top: -15px;
}
 .sub-text{
    top: 104%;
    text-shadow: 1px 4px 5px black;
 }
}