@media screen and (min-width: 375px){
.bg{
    background: no-repeat url("images/boise.jpg");
    min-height: 65vh;
    background-size: cover;
    background-position-x: 46.8%;  
}
.logo{
    margin-top: 9px;
}
.sub-text{
    position: absolute;
    top: 38%;
    left: 15%;
    color: white;
 }

 .card1{
     background-image: url("images/mobile.png");
     min-height: 25vh;
     box-shadow: 1px 6px 8px black;
     border-radius: 10px;
 }
 .card2{
    background-image: url("images/buggy.png");
    min-height: 25vh;
    background-position-x: -301px;
    box-shadow: 2px 6px 8px black;
    border-radius: 10px;
 }
 .card3{
    background-image: url("images/google.png");
    min-height: 25vh;
    box-shadow: 1px 6px 8px black;
    border-radius: 10px;
 }
.profilepic{
    background-image: url("images/profpic.png");
    background-repeat: no-repeat;
    background-size: 190px 283px;
    min-height: 341px;
    min-width: 310px;
    background-position-x: 50%;
}


}




  @media screen and (min-width: 376px){
.bg{
    background: no-repeat url("images/skyline.png");
    min-height: 70vh;
    background-size: cover;
    background-position-x: 44%;
    background-position-y: 16%;
}
 .title-text{
     color: #bba846;
     font-family:'Bruno Ace SC';
     position: absolute;
    top: 7%;
 }
 .t-text{
    font-size: 100px;
 }
.logo{
    margin-top: -15px;
}
 .sub-text{
    top: 104%;
    text-shadow: 1px 4px 5px black;
 }

 .card1{
     background-image: url("images/mobile.png");
     min-height: 70vh;
     box-shadow: 1px 6px 8px black;
     background-position-x: -51px;
     border-radius: 10px 10px 0px 0px ;
 }
 .card2{
    background-image: url("images/buggy.png");
    min-height: 70vh;
    background-position-x: -338px;
    box-shadow: 1px 6px 8px black;
    border-radius: 10px 10px 0px 0px ;
 }
 .card3{
    background-image: url("images/google.png");
    min-height: 70vh;
    box-shadow: 1px 6px 8px black;
    border-radius: 10px 10px 0px 0px ;
 }
 .mcard{
     border-radius: 10px;
     border: transparent;
 }
.card1:hover{
    cursor: pointer;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/mobile.png");
}
.card2:hover{
    cursor: pointer;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/buggy.png");
}
.card3:hover{
    cursor: pointer;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/google.png");
    
}
.profilepic{
    background-image: url("images/profpic.png");
    background-repeat: no-repeat;
    background-size: 190px 283px;
    min-height: 341px;
    min-width: 310px;
    background-position-x: 30%;
}
}


